---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Taller Mirador</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
<div><h1 class="text-center text-white pb-6 text-xl">Contáctanos</h1>
  <ul class="text-white text-center"><li>Numero de telefono: 688 75 77 25</li>
  <li class="pb-4">Dirección Txorieri Kalea, 21, Leioa, Bizakia</li>
 <button class="m-auto pb-4 pt-4"> <a aria-label="Chat on WhatsApp" href="https://wa.me/+34688757725"><img alt="Chat on WhatsApp" src="../../public/WhatsappButtonGreenMedium.svg" />
<a /> </button >
  <iframe class="m-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d371968.7253231562!2d-3.1438466387042276!3d43.25130304646557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e5be48415648f%3A0xaf563675c13c71fb!2sTaller%20Mirador!5e0!3m2!1ses!2ses!4v1718288880045!5m2!1ses!2ses" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

<Footer/>
    </body>
</html>
