---
import "../styles/globals.css";

---
	<footer>
	<div class=" footer w-full flex items-center justify-between mt-40 pt-10 pb-8">
	<div class="text-white text-lg p-4">+34 688 75 77 25</div>
	<div class="text-white text-lg p-4">Txorieri Kalea, 21, Leioa</div>
	<div class="text-white text-lg p-4"><a href="/contacto/">Contacto
</a></div>
	</div>
	</footer>