---
---
<nav class="flex items-center justify-between p-2">
<div> <h1 class="text-xl pl-4 text-mcorange font-bold"><a href="/">Taller Mirador</a></h1></div>
<div class="flex gap-4 pr-4 text-mcorange"><a href="/">Home</a>
<a href="/servicios/">Servicios</a>
<a href="/contacto/">Contacto
</a></div>

</nav>